.header {
  background-color: #8D8383;
}

@media all and (max-width: 1024px) {
  .menu {
    font-size: 35px;
    text-align: center;
  }
}
@media all and (max-width: 767px) {
  .menu {
    font-size: 25px;
  }
}
.footer {
  background-color: #8D8383;
  display: flex;
  justify-content: space-between;
  padding: 0 6%;
  font-size: 25px;
}

@media all and (max-width: 767px) {
  .footer {
    font-size: 20px;
  }
}
.main {
  background: linear-gradient(to right, #D07F47, #B56F97, #955CF2);
}

.card-img {
  height: 350px;
  margin-bottom: 4%;
}

.card-title {
  text-align: center;
  font-size: 2.5em;
}

.btn {
  background-color: #955CF2;
  color: #FFF;
}
.btn__centre {
  display: flex;
  place-content: space-around;
  margin: 4% 20%;
  font-size: 25px;
}

.bordure {
  border: 3px solid #FFF;
  margin: 3% 4%;
  background-color: #FFF;
}

@media all and (max-width: 767px) {
  .card-img {
    height: 200px;
  }

  .btn__centre {
    margin: 4% 15%;
    font-size: 20px;
  }

  h1 {
    font-size: 2em;
  }
}
.personnaliser {
  font-size: 2em;
  margin: 2% 0;
}

.personnaliser2 {
  font-size: 2em;
}

.choix {
  font-size: 1.5em;
  border: 3px solid #955CF2;
  padding: 0 6%;
  margin: 2% 2%;
}

.divperso {
  display: flex;
  justify-content: center;
}

.qty {
  border: 3px solid #955CF2;
  font-size: 1.5em;
  text-align: center;
}

.btnqty {
  background-color: #955CF2;
  color: #FFF;
  font-size: 2em;
  margin: 0 2%;
}

.card-img2 {
  height: 350px;
  width: auto;
  display: flex;
  margin: 3% auto;
}

.card-title2 {
  font-size: 3.5em;
  text-align: center;
}

.card-description {
  font-size: 1.5em;
  text-align: justify;
  margin: 0 19%;
  padding-bottom: 3%;
}

.card-prix {
  font-size: 2em;
  text-align: center;
}

.bordure2 {
  border: 3px solid #FFF;
  margin-bottom: 5%;
  background-color: #FFF;
}

a:not([href]):not([tabindex]) {
  color: #FFF;
}

@media all and (max-width: 767px) {
  .divperso {
    display: flex;
    flex-direction: column;
  }

  .card-img2 {
    height: 200px;
  }

  .personnaliser {
    font-size: 1.45em;
  }

  .personnaliser2 {
    font-size: 1.45em;
  }

  .choix {
    border: 3px solid #955CF2;
    font-size: 1.2em;
  }

  .qty {
    border: 3px solid #955CF2;
    font-size: 1em;
    text-align: center;
  }

  .btnqty {
    background-color: #955CF2;
    color: #FFF;
    font-size: 0.85em;
    margin: 0 2%;
  }
}
.prix {
  font-size: 1.75em;
  text-align: center;
}

.label {
  font-size: 2em;
  text-align: center;
  margin-top: 3%;
}

.label2 {
  margin-bottom: 5%;
}

.formulaire {
  font-size: 3.5em;
}

.cadre {
  border: 3px solid #000;
  padding: 5% 5% 3% 5%;
  margin-bottom: 5%;
}

.titre {
  font-size: 3.5em;
}

.cadre2 {
  border: 3px solid #000;
  padding: 2% 5% 3% 5%;
  margin-bottom: 6%;
}

.btn-lg {
  font-size: 2em;
  display: flex;
  place-content: space-around;
}

@media all and (max-width: 767px) {
  .titre {
    font-size: 1.75em;
  }

  .card-prix {
    font-size: 1.5em;
  }

  .prix {
    font-size: 1.25em;
  }

  .formulaire {
    font-size: 2em;
  }

  .label {
    font-size: 1.5em;
  }

  .btn {
    margin: 4% 0;
    font-size: 20px;
  }
}
.confirmation {
  font-size: 25px;
}

.padding {
  padding-bottom: 18%;
}

/*# sourceMappingURL=style.css.map */
