header, footer{
    background-color: #8D8383;
}
.image__logo{
    width: 40%;
}
.navbar-brand{
    margin-right: 50rem;
    margin-left: 5rem;
}
h1{
    text-align: center;
    padding: 3% 0;
    color: #FFF;
}
footer{
    height: 100px;
    font-size: 20px;
}
main{
    background: linear-gradient(to right, #D07F47, #B56F97, #955CF2);
}
a{
    text-decoration: none;
}

