.main{
    @include main
}
.card-img{
    height: 350px;
}
.card-title{
    text-align: center;
}
.btn{
    background-color: $color-button;
    color: $color-textbutton;
    &__centre{
        text-align: center;
    }
}